            body{
                color: darkgray;
                text-align: center;
                margin: 0;
                background-color:  #dfdfdf
            }
/* va con # porque se refiere al id */
            #nombre{
                color: rgb(127, 18, 129);
                font-size: 50px;
                text-shadow: 4px 4px 5px black;
                font-family: 'Lora', serif;
            }
            .skills{
                color: rgb(0, 0, 0);
                font-size: 30px;
                text-shadow: 2px 2px 5px rgb(145, 2, 184);
                font-family: 'Loved by the King', cursive;
            }
            .parrafo{
                font-size: 18px;
                color: black;
                text-shadow: 2px 2px 5px red;
                text-align: center;
                padding: 10px 16px;
            }      
            .parrafo2{
                font-size: 20px;
                color: rgb(24, 4, 4);
                text-shadow: 2px 2px 5px rgb(85, 2, 85);
            }
            h1{
                font-family: 'Lora', serif;              
            }
            ul{
                list-style-position: inside;
            }
            ol{
                list-style-position: inside;
            }
            footer{
                text-align: left;
            }
            .contac a{
                text-decoration: none;
                color: rgb(5, 75, 76);
                font-size: 20px;
                padding: 8px 12px;
            }
            .contac a:hover{
                background-color: darkslategrey;
                color: aliceblue;
                border-radius: 10px;
                border: solid darkmagenta 2px; 
            }
            .profile-description{
                text-decoration: none;
                color: rgb(36, 7, 76);
                font-size: 20px;
            }